@import url('href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');

@font-face {
	font-family: 'GothamBold';
	src: url('../fonts/gothambold1.eot');
	src: local('gothambold1'), url('../fonts/gothambold1.woff') format('woff'), url('../fonts/gothambold1.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/GothamBook.eot');
	src: local('GothamBook'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamMediumRegular';
	src: local('gotham-medium-webfont'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/GothamMediumRegular.ttf') format('truetype');
}