.footer
  .container
    .row
      .col-8.offset-2
        .row
          .col-6
            .footer__logo
              a(href=`#`)
                img(src="../../img/footer/logo.svg", alt="logo",)
          .col-6
            .footer__social.d-flex.flex-row.justify-content-end
              a.footer__circle(href="https://www.facebook.com/", target='_blank')
                i.fab.fa-facebook-f.footer__social-icon
              a.footer__circle(href="https://twitter.com/", target='_blank')
                i.fab.fa-twitter.footer__social-icon
              a.footer__circle(href="https://www.instagram.com/", target='_blank')
                i.fab.fa-instagram.footer__social-icon
          .col-12.d-flex.flex-row
            .footer__info Copyrights &copy; 2017 Monticello
            .footer__author.d-flex.flex-row
              small.footer__author-info Made with&nbsp;
              i.fas.fa-heart
              small.footer__author-info &nbsp;by Ga Huy
              
