.gallery
  .container
    .row
      .col-12
        h3.gallery__title gallery
      .col-6
        img(src="../../img/gallery/gallery_img1.png", alt="gallery_img")
      .col-3.d-flex.flex-column
        img(src="../../img/gallery/gallery_img2.png", alt="gallery_img", style='padding-bottom: 10px; margin-left: -10px; margin-right: -5px')
        img(src="../../img/gallery/gallery_img3.png", alt="gallery_img", style='margin-left: -10px; margin-right: -5px')
      .col-3.d-flex.flex-column
        img(src="../../img/gallery/gallery_img4.png", alt="gallery_img", style='padding-bottom: 10px; margin-left: -15px')
        img(src="../../img/gallery/gallery_img5.png", alt="gallery_img", style='margin-left: -15px')
      .col-12
        .gallery__btn
            a.gallery__link(href="#") see more