.gallery
  .container
    .row
      .col-12
        h3.gallery__title gallery
      .col-md-6.col-12.pl-sm-2.pr-sm-2.pl-0.pr-0
        .gallery__picture.gallery__picture--first
          img.gallery__image(src="./img/gallery/gallery_img1.png", alt="gallery_img")
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-md-3.d-flex.flex-column.col-12.pl-md-0.pl-sm-2.pr-sm-2.pl-0.pr-0
        .gallery__picture
          img.gallery__image.pb-sm-1(src="./img/gallery/gallery_img2.png", alt="gallery_img")
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img3.png", alt="gallery_img")
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-md-3.d-flex.flex-column.col-12.pl-md-0.pl-sm-2.pr-sm-2.pl-0.pr-0
        .gallery__picture
          img.gallery__image.pb-sm-1(src="./img/gallery/gallery_img4.png", alt="gallery_img")
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img5.png", alt="gallery_img")
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-12
        .gallery__btn
            a.gallery__link(href="#") see more