.gallery
  .container
    .row
      .col-12
        h3.gallery__title gallery
      .col-6.pr-0
        img.gallery__image(src="./img/gallery/gallery_img1.png", alt="gallery_img", style='padding: 0 5px 0 0')
        img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-3.pr-0.pl-0.d-flex.flex-column
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img2.png", alt="gallery_img", style='padding: 0 10px 10px 5px')
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img3.png", alt="gallery_img", style='padding: 0 10px 0 5px')
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-3.pr-0.pl-0.d-flex.flex-column
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img4.png", alt="gallery_img", style='padding: 0 15px 10px 0')
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
        .gallery__picture
          img.gallery__image(src="./img/gallery/gallery_img5.png", alt="gallery_img", style='padding: 0 15px 0 0')
          img.gallery__image--hover(src="./img/gallery/gallery_360.png")
      .col-12
        .gallery__btn
            a.gallery__link(href="#") see more