.header
  .owl-carousel.owl-theme.owl-loaded#header__slider
    .header__block
      h1.header__title Simple & modern
      p.header__subtitle We make the world's beautiful every day
    .header__block
      h1.header__title Stylish & creative
      p.header__subtitle We make the world's beautiful every day
    .header__block
      h1.header__title Trendy & advanced
      p.header__subtitle We make the world's beautiful every day
    .header__block
      h1.header__title Friendly & helpful
      p.header__subtitle We make the world's beautiful every day
  .header__nav
    .container
      .row
        .col-3
          .footer__logo
            a(href=`#`)
              img(src="../../img/footer/logo.svg", alt="logo",)
          