.header  
  .container
    .header__nav
      .row
        .col-3
          .header__logo
            a(href=`#`)
              img(src="./img/footer/logo.svg", alt="logo",)
        .col-7
          ul.header__list.d-flex.flex-row.justify-content-around
            li.header__item 
                a#project.header__link Projects
            li.header__item 
                a#news.header__link News
            li.header__item
                a#gallery.header__link Gallery
            li.header__item 
                a#contact.header__link Contact
        .col-2
          .header__social.d-flex.flex-row.justify-content-between
            a.header__circle(href="https://www.facebook.com/", target='_blank')
              i.fab.fa-facebook-f.header__social-icon
            a.header__circle(href="https://twitter.com/", target='_blank')
              i.fab.fa-twitter.header__social-icon
            a.header__circle(href="https://www.instagram.com/", target='_blank')
              i.fab.fa-instagram.header__social-icon
        .col-12
          .header__down
            img(src="./img/header/down.png", alt="scroll")
  .owl-carousel.owl-theme.owl-loaded.header__slider
    .owl-stage-outer
      .owl-stage
        .owl-item
          .header__block
            h1.header__title Simple & modern
            p.header__subtitle We make the world's beautiful every day
        .owl-item
          .header__block
            h1.header__title Stylish & creative
            p.header__subtitle We make the world's beautiful every day
        .owl-item
          .header__block
            h1.header__title Trendy & advanced
            p.header__subtitle We make the world's beautiful every day
        .owl-item
          .header__block
            h1.header__title Friendly & helpful
            p.header__subtitle We make the world's beautiful every day
     
      
        
          