.news
  .news__bg
    .container
      .row
        .col-12
          h3.news__title latest news
        .col-12
         .owl-carousel.owl-theme.owl-loaded
            .owl-stage-outer
              .owl-stage
                .owl-item
                  div.d-flex.flex-column
                    img(src="../../img/news/news_img1.png", alt="")
                    .news__block
                      h5.news__subtitle See The Unmatched Beauty Of The Great.
                      p.news__text Free directories: directories are perfect for customers that are... searching for
                      div.d-flex.flex-row
                        .news__photo
                        div.d-flex.flex-column
                          small.news__author Isaac Dunn
                          date.news__date 09 Feb 2017
                .owl-item
                  div
                    img(src="../../img/news/news_img2.png", alt="")
                    .news__block
                      h5.news__subtitle Effective Advertising Pointers.
                      p.news__text Having a home based business is a wonderful asset to your life...
                      div.d-flex.flex-row
                        .news__photo.news__photo--second
                        div.d-flex.flex-column
                          small.news__author Dominic Freeman
                          date.news__date 24 Apr 2017
                .owl-item
                  div
                    img(src="../../img/news/news_img3.png", alt="")
                    .news__block
                      h5.news__subtitle Hypnotize Yourself Into The Ghost.
                      p.news__text There are many things that are important to catalog design....
                      div.d-flex.flex-row
                        .news__photo.news__photo--third
                        div.d-flex.flex-column
                          small.news__author Alice Ward
                          date.news__date 30 Dec 2017
                .owl-item
                  div.d-flex.flex-column
                    img(src="../../img/news/news_img1.png", alt="")
                    .news__block
                      h5.news__subtitle See The Unmatched Beauty Of The Great.
                      p.news__text Free directories: directories are perfect for customers that are... searching for
                      div.d-flex.flex-row
                        .news__photo
                        div.d-flex.flex-column
                          small.news__author Isaac Dunn
                          date.news__date 09 Feb 2017
                .owl-item
                  div
                    img(src="../../img/news/news_img2.png", alt="")
                    .news__block
                      h5.news__subtitle Effective Advertising Pointers.
                      p.news__text Having a home based business is a wonderful asset to your life...
                      div.d-flex.flex-row
                        .news__photo.news__photo--second
                        div.d-flex.flex-column
                          small.news__author Dominic Freeman
                          date.news__date 24 Apr 2017
            //- .owl-nav
            //-   .owl-prev
            //-   .owl-next
            //- .owl-dots
            //-   .owl-dot.active
            //-     span
            //-   .owl-dot
            //-     span
            //-   .owl-dot
            //-    span










