.contact {
    position: absolute;
    top: -300px;    
    width: 100%;
    z-index: 2;

    &__block {
        background-image: url(../../img/contact/contact_bg.png);
        box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);        
    }
        
    &__title {
        @include text-title (#2c4058, 0, 43px);
        padding-top: 85px;

        @media (max-width: 575px) {
            font-size: 35px;
            padding-top: 20px;
            margin-bottom: 20px;
        }


        &::before {        
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: #2c4058;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    &__link {
        padding-bottom: 38px;

        @media (max-width: 575px) {
            padding-bottom: 25px;
        }

        &:hover small {
         text-shadow: 3px 3px 4px blueviolet;         
        } 
        
        & i {
            font-size: 15px;
            color: #7e5aff;
        }
    }

    &__info {
        padding-top: 6px; 
        padding-left: 60px;
        
        @media (max-width: 767px) {
            padding-left: 20px;
        }
        
        & a {
            text-decoration: none;
        }
    }    
    
    &__small {
        padding-left: 9px;        
        color: #2c4058;
        font-size: 18px;
        font-family: 'GothamBook';    
        font-weight: 300;         
    }

    &__form {
        padding-bottom: 80px;

        @media (max-width: 767px) {
            padding-right: 20px;
            padding-bottom: 60px;
        }

        @media (max-width: 575px) {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 30px;
        }
    }

    &__input {
        max-width: 310px;
        border-bottom: 1px solid #2c4058;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 19px;
        font-family: 'GothamBook';
        font-size: 18px;
        
        @media (max-width: 767px) {
            max-width: 100%;
        }        
        
        &:focus {
            background-color:#f4f4f4;
        }
    }

    &__input:first-child {
        margin-bottom: 32px;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }

    &__input:nth-child(2) {
        margin-bottom: 29px;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }

    &__input::-webkit-input-placeholder {
        color:rgba(44, 64, 88, 0.5);
        font-family: 'GothamBook';
    }

    &__btn {
        @include btn;
        padding: 16.5px 41.5px;             
        margin-left: 170px;
        
        @media (max-width: 767px) {
            margin-left: 50px;
            margin-top: 20px;
        }

        @media (max-width: 575px) {
            margin-left: 0;
            margin-top: 10px;
            padding: 17px 127px;
        }

        &:hover  {
            background-color: #2c4058;
            border: 1px solid #fff;
            color: #fff; 
            text-decoration: none;                
        }

        &:active  {
            background-color: #4b6d95;
            border: 1px solid rgb(202, 200, 200);
            color: rgb(202, 200, 200);
            text-decoration: none;                 
        }
        
    }

}