.footer {
    height: 524px;
    width: 100%;
    background-color: white;
    background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
    z-index: 1;
    position: relative;    

    &__bg {
        height: 524px;
        background-image: url(../../img/footer/footer_bg.png);        
        background-position: center;
        background-repeat: no-repeat;       
    }

    &__logo, &__social {
        margin-top: 198px;
    }

    &__circle {
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in;
        margin-left: 20px;
        margin-top: 7px;

        & i {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        &:hover i {
            color: #4267B2;
            text-decoration: none;
        }

        &:hover {
            border: 1px solid #4267B2; 
            text-decoration: none;           
        }
    }

    &__info {
        color: white;
        font-family: 'GothamBook';
        font-size: 14px;        
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        padding: 3px 19px 3px 0;
        margin-top: 35px;
        margin-bottom: 209px;        
    }

    &__author {

        margin-top: 38px;
        padding-left: 20px;
        
        & small {
            color: white;
            font-family: 'GothamBook';
            font-size: 14px;
        }

        & i {
            color: white;            
            font-size: 14px;
        }
    }
}