.header {
    // height: 800px;
    position: relative;
    background-color: #4b4b4b;
    background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);    

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;        
    }

    &__block {
        height: 800px;        
        background-image: url(../../img/header/header_bg.png);
        background-size: cover;
        background-position: top;
        text-align: center;
        
        @media (max-width: 1199px) {
            height: 600px;
        }
    }

    &__title {
        padding-top: 358px;        
        color: white;
        font-family: 'GothamBold';
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 8px;        
        text-transform: uppercase;

        @media (max-width: 1199px) {
            font-size: 60px;
            padding-top: 258px;
        }
    }

    &__subtitle {
        color: white;
        font-family: Gotham;
        font-size: 18px;
        font-weight: 300;        
        text-transform: uppercase;
        padding-top: 28px;
        letter-spacing: 5.3px;
    }
    &__nav {
        position: relative;
        z-index: 2;        
    }

    &__logo {
        padding-top: 53px;
    }

    &__list {
        padding-top: 68px;

        @media (max-width: 1199px) {
            padding-left: 20px;
        }
    }

    &__link {
        position: relative;
        color: white !important;
        font-family: Gotham;
        font-size: 14px;
        font-weight: 300;        
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;        

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: -22px;            
            width: 9px;
            height: 9px;
            border: 1px solid white;
            border-radius: 50%;
        }

        &:hover  {
            text-decoration: none;
            color: white;

            &::before {
                background-color: white;
            }
        }
    }

    &__social {
        margin-top: 60px;
        margin-left: 9px;
    }

    &__circle {
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in;

        & i {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        &:hover i {
            color: #4267B2;
            text-decoration: none;
        }

        &:hover {
            border: 1px solid #4267B2; 
            text-decoration: none;           
        }
    }

    &__dots {
        display: flex;
        flex-direction: column;        
        position: absolute;
        top: 296px;
        right: 10%;
        transform: translateX(-10%);        
        margin-top: 0 !important;
        
        @media (max-width: 1199px) {
            display: none;
        }
    }

    &__dot {
        margin-bottom: 37px;
        border: none;
        background: none;

        &.active span {
            background-color: white;
        }

        & span {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid white;
        }
    }
    
    &__down {
        text-align: center;
        margin-top: 600px;
        margin-bottom: 47px;
        cursor: pointer;
        background: transparent;

        @media (max-width: 1199px) {
            margin-top: 400px;
        }
    }
}