.header {
    // height: 800px;
    position: relative;
    background-color: #4b4b4b;
    background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);    

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;        
    }

    &__block {
        height: 800px;        
        background-image: url(../../img/header/header_bg.png);
        background-size: cover;
        background-position: top;
        text-align: center;
        
        @media (max-width: 1199px) {
            height: 600px;
        }

        @media (max-width: 991px) {
            height: 500px;
        }

        @media (max-width: 767px) {
            height: 400px;
        }

        @media (max-width: 575px) {
            height: 426px;
        }
    }

    &__title {
        padding-top: 358px;        
        color: white;
        font-family: 'GothamBold';
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 8px;        
        text-transform: uppercase;

        @media (max-width: 1199px) {
            font-size: 60px;
            padding-top: 258px;
        }

        @media (max-width: 991px) {
            font-size: 45px;
            padding-top: 200px;
        }

        @media (max-width: 767px) {
            font-size: 35px;            
        }

        @media (max-width: 575px) {
            font-size: 25px; 
            padding-top: 180px;           
        }
    }

    &__subtitle {
        color: white;
        font-family: Gotham;
        font-size: 18px;
        font-weight: 300;        
        text-transform: uppercase;
        padding-top: 28px;
        letter-spacing: 5.3px;

        @media (max-width: 767px) {
            font-size: 15px;          
        }

        @media (max-width: 575px) {
            font-size: 10px;            
        }
    }

    &__nav {
        position: relative;
        z-index: 2;        
    }

    &__logo {
        padding-top: 53px;

        @media (max-width: 575px) {
            text-align: center;
            padding-top: 20px;
        }
    }

    &__list {
        padding-top: 68px;

        @media (max-width: 1199px) {
            padding-left: 20px;
        }
    }

    &__link {
        position: relative;
        color: white !important;
        font-family: Gotham;
        font-size: 14px;
        font-weight: 300;        
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;        

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: -22px;            
            width: 9px;
            height: 9px;
            border: 1px solid white;
            border-radius: 50%;
        }

        &:hover  {
            text-decoration: none;
            color: white;

            &::before {
                background-color: white;
            }
        }
    }

    &__social {
        margin-top: 60px;
        margin-left: 9px;

        @media (max-width: 991px) {
            margin-left: 50px;
        }

        @media (max-width: 767px) {
            margin-left: 70px;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
            margin-left: 0;
        }


    }

    &__circle {
        text-decoration: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in;

        & i {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        &:hover i {
            color: #4267B2;
            text-decoration: none;
        }

        &:hover {
            border: 1px solid #4267B2; 
            text-decoration: none;           
        }
    }

    &__dots {
        display: flex;
        flex-direction: column;        
        position: absolute;
        top: 296px;
        right: 10%;
        transform: translateX(-10%);        
        margin-top: 0 !important;
        
        @media (max-width: 1199px) {
            display: none;
        }
    }

    &__dot {
        margin-bottom: 37px;
        border: none;
        background: none;

        &.active span {
            background-color: white;
        }

        & span {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid white;
        }
    }
    
    &__down {
        text-align: center;
        margin-top: 600px;
        margin-bottom: 47px;
        cursor: pointer;
        background: transparent;

        @media (max-width: 1199px) {
            margin-top: 400px;
        }
        @media (max-width: 991px) {
            margin-top: 300px;
        }
        @media (max-width: 767px) {
            margin-top: 232px;
            margin-bottom: 15px;
        }
    }

    &__burger {
        margin-top: 50px;

        @media (max-width: 575px) {
            margin-top: 26px;
                    }
    }
    &__burger nav {
        width: 100%;
    }
    &__burger {
        .burger {
            &__toggle {
                display: flex;    
                flex-direction: column;
                align-items: flex-end;
                position: relative;    
                z-index: 1;
                -webkit-user-select: none;
                user-select: none;
            
                & input  {
                display: flex;
                width: 42px;
                height: 42px;
                position: absolute;
                top: -16px;
                right: 2px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
            }
            
              & span  {
                display: flex;
                width: 41px;
                height: 3px;
                margin-bottom: 8px;
                position: relative;    
                background: white;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 5px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
            }
              
              & span:first-child  {
                transform-origin: 0% 0%;
            }
              
              & span:nth-last-child(2)  {
                transform-origin: 0% 100%;
            }
              
              & input:checked ~ span  {
                opacity: 1;
                transform: rotate(45deg) translate(-3px, -1px);
                background: white;
            }
            
              & input:checked ~ span:nth-last-child(3)  {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
              
              & input:checked ~ span:nth-last-child(2)  {
                transform: rotate(-45deg) translate(0, -1px);
            }
            
              & input:checked ~ ul
                {
                    opacity: .8;    
                }
            }
            
            &__link {
                position: absolute; 
                box-shadow: 0 0 10px rgb(41, 90, 153);
                top: 0;
                right: 66px;        
                opacity: 0;
                background-color: rgba(105, 85, 218, 0.781);
                transition: all 0.5s linear;
                text-align: center;

                @media (max-width: 767px) {
                    right: 0;
                    top: 55px;
                    width: 96vw;                    
                }

                @media (max-width: 575px) {                    
                    width: 91vw;                    
                }

            
                & li {
                    padding: 15px;
            
                    @media (max-width: 767px) {
                        padding: 10px;
                    }
                }   
            }
    
            &__item {
                & a {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                }
            
                &:hover {
                    background-color: #5474fd;
                    cursor: pointer;
                }
                &:active {
                    opacity: 1;
                    background-color: #330f75;        
                }
            
                &:active a {
                    opacity: 1;
                    color: white;        
                }  
            }
        }

        }
}