.projects {
    height: 1633px;

    &__title {        
        @include text-title (#2c4058, 135px, 164px); 
        
        &::before {        
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: #2c4058;
            top: -36px;
            left: 534px;
        }
    }
    
    &__pictures, &__pictures--right {
        position: relative;

        &::before, &--right::before  {
            content: '';
            display: block;
            position: absolute;
            width: 585px;
            height: 470px;
            z-index: -1;            
            
        }

        &::before {
            background-color: #55b7ff;            
            top: -70px;
            left: -214px;
        }

        &--right::before {
            background-color: #7e5aff;            
            top: -70px;
            left: 300px;
            
        }
    }

    &__img { 
        margin-bottom: 207px;
        z-index: 2;

        &--right {
            padding-left: 40px;            
        }        
    }

    &__block.block {
        .block {

            &__subtitle {
                @include text-subtitle (22px, 300);
                font-family: 'GothamBook';
                padding-top: 55px;
            }

            &__title {
                @include text-subtitle (44px, 700);
                padding-top: 9px;
            }

            &__article {
                @include text-article;
                padding-top: 26px;
            }

            &__btn {
                padding-top: 44px;                
            }

            &__link {
                @include btn;
            }

            &__link:hover  {
                background-color: #2c4058;
                border: 1px solid #fff;
                color: #fff;                
            }

            &__link:active  {
                background-color: #4b6d95;
                border: 1px solid rgb(202, 200, 200);
                color: rgb(202, 200, 200);                
            }            

            &__footer {
                padding-top: 74px;
                text-decoration: none;

            }

            &__small {  
                color: #2c4058;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-weight: 400;                
                padding-left: 5px;
                letter-spacing: -0.3px;
            }
             
        }
    }

}