.projects {
    // height: 1633px;

    &__title {        
        @include text-title (#2c4058, 135px, 164px);
        
        @media (max-width: 1199px) {
            margin-bottom: 80px;
        }

        @media (max-width: 991px) {
            margin-top: 70px;
            margin-bottom: 60px;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 35px;
        }
        
        &::before {        
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: #2c4058;
            top: -36px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 575px) {
                display: none;
            }
        }
    }
    
    &__pictures, &__pictures--right {
        position: relative;

        &::before, &--right::before  {
            content: '';
            display: block;
            position: absolute;
            width: 585px;
            height: 470px;
            z-index: -1; 
        }

        &::before {
            background-color: #55b7ff;            
            top: -70px;
            left: -11.4vw;

            @media (max-width: 1199px) {
                display: none;
            }
        }

        &--right::before {
            background-color: #7e5aff;            
            top: -70px;
            left: 15.4vw;

            @media (max-width: 1199px) {
                display: none;
            }            
        }
    }

    &__img { 
        margin-bottom: 207px;        
        z-index: 2;

        @media (max-width: 1199px) {
            width: 100%;
            margin-bottom: 100px;
        }

        @media (max-width: 991px) {            
            margin-top: 30px;
            margin-bottom: 75px;
        }

        @media (max-width: 767px) {            
            margin-top: 0px;
            margin-bottom: 15px;
        }

        &--right {
            padding-left: 36px;
            margin-bottom: 137px;
            
            @media (max-width: 1199px) {
                width: 100%;
                padding-left: 0;
                margin-bottom: 100px;
            }

            @media (max-width: 991px) {                
                margin-top: 30px;
                margin-bottom: 75px;
            }

            @media (max-width: 767px) { 
                margin-top: 0px;
                margin-bottom: 15px;
            }
        }        
    }

    &__block.block {

        @media (max-width: 1199px) {
            padding-left: 30px;
        }

        @media (max-width: 991px) {
            padding-left: 0px;
        }

        @media (max-width: 575px) {
            text-align: center;
        }

        .block {

            &__subtitle {
                @include text-subtitle (22px, 300);
                font-family: 'GothamBook';
                padding-top: 55px;

                @media (max-width: 1199px) {
                    padding-top: 0px;
                }
            }

            &__title {
                @include text-subtitle (44px, 700);
                padding-top: 9px;

                @media (max-width: 1199px) {
                    padding-top: 25px;
                }

                @media (max-width: 1060px) {
                    font-size: 36px;
                }

                @media (max-width: 767px) {
                    font-size: 44px;
                }

                @media (max-width: 575px) {
                    font-size: 35px;
                }
            }

            &__article {
                @include text-article;
                padding-top: 26px;

                @media (max-width: 1030px) {
                    font-size: 15px;
                }

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }

            &__btn {
                padding-top: 44px;
                padding-bottom: 75px; 
                
                @media (max-width: 1199px) {
                    padding-bottom: 75px;
                }
                
                @media (max-width: 991px) {
                    padding-top: 20px;
                    padding-bottom: 35px;
                }
            }

            &__link {
                @include btn;

                @media (max-width: 575px) {
                    padding: 17px 88px;
                }
            }

            &__link:hover  {
                background-color: #2c4058;
                border: 1px solid #fff;
                color: #fff;                
            }

            &__link:active  {
                background-color: #4b6d95;
                border: 1px solid rgb(202, 200, 200);
                color: rgb(202, 200, 200);                
            }            

            &__footer {
                @media (max-width: 767px) {
                    margin-bottom: 15px;
                }
                
                & a {
                    text-decoration: none;
                }                

                & i {
                    color: #2c4058;
                    font-size: 16px;
                } 

            }

            &__small {  
                color: #2c4058;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                font-style: italic;
                font-weight: 400;                
                padding-left: 7px;
                letter-spacing: -0.3px;
            }
             
        }
    }

}